* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #39383a;
}
.container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
}
.container h1 {
  color: white;
  padding-bottom: 2rem;
}

.movie-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: monospace;
  gap: 2rem;
  flex-wrap: wrap;
}

.movie-wrapper {
  width: 500px;
  background-color: sienna;
}

.movie-search {
  height: 30px;
  font-size: 24px;
  margin-bottom: 2rem;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
}

.movie-title {
  height: 60px;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@media (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }

  .movie-wrapper {
    width: 300px;
  }
  .movie-wrapper .movie-image {
    width: 100%;
  }
}
